@model TestConfiguration.Models.TestConfig

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TestConfig</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AdmissionReferenceId" class="control-label"></label>
                <input asp-for="AdmissionReferenceId" class="form-control" />
                <span asp-validation-for="AdmissionReferenceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BatchId" class="control-label"></label>
                <input asp-for="BatchId" class="form-control" />
                <span asp-validation-for="BatchId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SesionId" class="control-label"></label>
                <input asp-for="SesionId" class="form-control" />
                <span asp-validation-for="SesionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinimumGPA" class="control-label"></label>
                <input asp-for="MinimumGPA" class="form-control" />
                <span asp-validation-for="MinimumGPA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PassMark" class="control-label"></label>
                <input asp-for="PassMark" class="form-control" />
                <span asp-validation-for="PassMark" class="text-danger"></span>
            </div>
            <table>
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.TestConfigDetails.Count; i++)
                    {
                        <tr>
                            <td>
                                <input type="hidden" asp-for="@Model.TestConfigDetails[i].Id" class="form-control" />
                                <input type="hidden" asp-for="@Model.TestConfigDetails[i].TestConfigId" class="form-control" />
                                <input type="checkbox" class="form-check activeEnable_@i" />
                            </td>


                            <td>
                                <input type="checkbox" class="form-check activeEnable_@i" />
                                <select class="form-control" asp-for="TestConfigDetails[i].SubjectId">
                                @*<select class="form-control" id="SubjectId_@i" name="TestConfigDetails[@i].SubjectId">*@

                                    <option value="-1">Choose Option</option>
                                    <option value="1">Bangla</option>
                                    <option value="2">English</option>
                                </select>
                                @*<input type="text" class="form-control" asp-for="@Model.TestConfigDetails[i].SubjectId"/>*@
                            </td>

                            <td>
                                <input type="checkbox" class="form-check activeEnable_@i" />
                                @*<select class="form-control" id="ResultGradeId_@i" name="TestConfigDetails[@i].ResultGradeId">*@

                                <select class="form-control" asp-for="TestConfigDetails[i].ResultGradeId">
                                    <option value="-1">Choose Option</option>
                                    <option value="1">A+</option>
                                    <option value="2">A</option>
                                </select>
                                @*<input type="text" class="form-control"   asp-for="@Model.TestConfigDetails[i].ResultGradeId"/>*@
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $.fn.myFunc = function ($this) {
            if ($this.is(":checked")) {
                $this.siblings("select").removeAttr('disabled');
            }
            else{

                $this.siblings("select").attr('disabled', 'disabled');
                $this.siblings("select").val("-1");
            }
        }

        $(".activeEnable_0").change(function () {
            $.fn.myFunc($(this));
        });

        $(".activeEnable_1").change(function () {
            $.fn.myFunc($(this));
        });

        $(".activeEnable_2").change(function () {
            $.fn.myFunc($(this));
        });


        $(".activeEnable_3").change(function () {
            $.fn.myFunc($(this));
        });


        $(".activeEnable_4").change(function () {
            $.fn.myFunc($(this));
        });

        $(".activeEnable_5").change(function () {
            $.fn.myFunc($(this));
        });
    </script>
}
